<nav>
  <p>Angular simple crud</p>
  <a href=""></a>
</nav>

<div>
  <ul>
    <li 
    (click)="openEdit(employee)"
    [class.active]="employee == selectedEmployee"
    *ngFor="let employee of employeeArray"
    >
      <span>{{employee.id}}</span>{{employee.name}} - {{employee.country}}
    </li>
  </ul>
  <!-- Formulario -->
  <div>
    <p>Insert new Employee</p>
    <form action="">
      <input [(ngModel)]="selectedEmployee.name" type="text" name="name" placeholder="Insert a Name">
      <input [(ngModel)]="selectedEmployee.country" type="text" name="name" placeholder="Insert a Country">
    </form>

    <p>Preview Name: {{selectedEmployee.name}}</p>
    <p>Preview Country: {{selectedEmployee.country}}</p>

    <button (click)="addOrEdit()">Submit</button>
    <button *ngIf="selectedEmployee.id !==0 " (click)="delete()">Delete</button>
  </div>
</div>
<router-outlet></router-outlet>